.container{

}

.divTest2 {
    width: 100px;
    height: 100px;
    background-color: #333;
    margin: 10px;
    float: left;
    line-height: 100px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
}

/*.divTest2:nth-child(odd) {*/
    /*background-color: #900;*/
/*}*/

/*div:nth-child(3n) {*/
    /*background-color: #900;*/
/*}*/

div:nth-child(3) {
    background-color: #900;
}