.box {
    border-style: solid;
    box-shadow: darkgreen;
    solid-opacity: 0.8;
    color: darkgreen;
}
.redbox {
    border-style: solid;
    box-shadow: darkred;
    solid-opacity: 0.8;
    color: darkred;
    border-bottom: black;
    border-bottom-style: dashed;
    border-top: black;
    border-top-style: dashed;
    background-image: url("images/gremio_logo.png");
    background-size: 50px;


}